In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
train_data = pd.read_csv('./train.csv')

In [3]:
train_data.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [4]:
test_data = pd.read_csv('./test.csv')

In [5]:
test_data.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [6]:
labels = train_data['Category']

In [7]:
labels.value_counts()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

In [8]:
train_data.drop(['Category','Descript', 'Resolution'], axis=1, inplace=True)
train_data.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,2015-05-13 23:53:00,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541

In [9]:
test_data.drop(['Id'], axis=1, inplace=True)
test_data.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [10]:
all_data = pd.concat((train_data, test_data), axis=0, ignore_index=True)
del(train_data)
del(test_data)
all_data[0:1]

,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,2015-05-13 23:53:00,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599

In [11]:
def catAddress(address):
    if "/" in address:
        return address[address.index("/")+2:].strip()
    elif "Block of" in address:
        return address[address.rindex("of")+3:].strip()
    else:
        print "None this kind of address"
        return address

In [12]:
all_data['Address'] = all_data['Address'].apply(catAddress)
all_data['Address'].describe()

count        1762311
unique          2118
top       MISSION ST
freq           73809
Name: Address, dtype: object

In [13]:
addInd = all_data['Address'].value_counts().index[0:30]

In [14]:
ret = all_data['Address'].isin(addInd)

In [15]:
all_data['Address'][~ret] = "Not Important"

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
all_data['Address'].value_counts()

Not Important     1109499
MISSION ST          73809
MARKET ST           68414
BRYANT ST           62209
TURK ST             26197
EDDY ST             23627
OFARRELL ST         22353
ELLIS ST            22121
JONES ST            20118
HYDE ST             18883
FOLSOM ST           18596
3RD ST              17953
LEAVENWORTH ST      17641
TAYLOR ST           16479
6TH ST              15933
POTRERO AV          15722
16TH ST             15465
POWELL ST           15331
HARRISON ST         14975
POLK ST             14863
GEARY BL            14857
LARKIN ST           14803
GOLDEN GATE AV      14763
POST ST             14419
HOWARD ST           13949
VALENCIA ST         13573
VANNESS AV          13482
GEARY ST            13217
SUTTER ST           13215
CALIFORNIA ST       13046
FILLMORE ST         12799
Name: Address, dtype: int64

In [17]:
def simDate2Month(data):
    start = data.index("-")+1
    end=data.rindex("-")
    month = int(data[start:end])
    retMonth = None
    if 3<month<=5:
        retMonth = "Spring"
    elif 5<month<=8:
        retMonth = "Summer"
    elif 8<month<=10:
        retMonth = "Autumn"
    elif 10<month or month<=3:
        retMonth = "Winter"
    else:
        print "None this kind of month"
        return None

    return retMonth

In [18]:
def simDate2Hour(data):
    start = data.rindex(" ")+1
    end = data.index(':')
    hour = int(data[start:end])
#     retHour = None
#     if 2<hour<=6:
#         retHour = "2-6"
#     elif 6<hour<=10:
#         retHour = "6-10"
#     elif 10<hour<=14:
#         retHour = "10-14"
#     elif 14<hour<=18:
#         retHour = "14-18"
#     elif 18<hour<=22:
#         retHour = "18-22"
#     elif 22<hour or hour<=2:
#         retHour = "22-2"
#     else:
#         print "None this kind of hour"
#         return None
    
    return hour

In [19]:
def simDate2Year(data):
    end = data.index('-')
    year = int(data[:end])
#     retYear = None
#     if 2003<=year<2006:
#         retYear="2003-2006"
#     elif 2006<=year<2009:
#         retYear="2006-2009"
#     elif 2009<=year<2012:
#         retYear="2009-2012"
#     elif 2012<=year<2016:
#         retYear="2012-2016"
#     else:
#         print "no kind of year"
#         return None
    return str(year)

In [20]:
hours = all_data["Dates"].apply(simDate2Hour)

In [21]:
months = all_data["Dates"].apply(simDate2Month)

In [22]:
all_data["Hour"] = hours

In [23]:
all_data["Month"] = months

In [24]:
years = all_data["Dates"].apply(simDate2Year)

In [25]:
all_data['Year'] = years

In [26]:
all_data.drop(['Dates'],axis=1, inplace=True)

In [27]:
all_data.head()

,DayOfWeek,PdDistrict,Address,X,Y,Hour,Month,Year
0,Wednesday,NORTHERN,Not Important,-122.425892,37.774599,23,Spring,2015
1,Wednesday,NORTHERN,Not Important,-122.425892,37.774599,23,Spring,2015
2,Wednesday,NORTHERN,Not Important,-122.424363,37.800414,23,Spring,2015
3,Wednesday,NORTHERN,Not Important,-122.426995,37.800873,23,Spring,2015
4,Wednesday,PARK,Not Important,-122.438738,37.771541,23,Spring,2015

In [28]:
def normSplitXY(curPos, minPos, maxPos, num):
    each_delta = float(maxPos-minPos) / num
    for i in xrange(num):
        if curPos <= minPos+each_delta*(i+1):
            return str(i)
    
    print "None this kind of pos"
    return None

In [29]:
all_data['Y'] = all_data['Y'].apply(normSplitXY, args=(all_data['Y'].min(),all_data['Y'].max(),10))

In [30]:
all_data['X'] = all_data['X'].apply(normSplitXY, args=(all_data['X'].min(),all_data['X'].max(),10))

In [31]:
# all_data.head()

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
labelEncoder = LabelEncoder()

In [34]:
# labelEncoder = labelEncoder.fit(all_data['PdDistrict'])

In [35]:
# all_data['PdDistrict'] = labelEncoder.transform(all_data['PdDistrict'])

In [36]:
# labelEncoder = labelEncoder.fit(all_data['Address'])

In [37]:
# labelEncoder.classes_

In [38]:
# sall_data['Address'] = labelEncoder.transform(all_data['Address'])

In [39]:
all_data.head()

   DayOfWeek PdDistrict        Address  X  Y  Hour   Month  Year
0  Wednesday   NORTHERN  Not Important  0  0    23  Spring  2015
1  Wednesday   NORTHERN  Not Important  0  0    23  Spring  2015
2  Wednesday   NORTHERN  Not Important  0  0    23  Spring  2015
3  Wednesday   NORTHERN  Not Important  0  0    23  Spring  2015
4  Wednesday       PARK  Not Important  0  0    23  Spring  2015

In [40]:
from sklearn import feature_extraction
from sklearn import metrics
def one_hot_dataframe(data, features, replace=False):
    vec = feature_extraction.DictVectorizer()
    mkdict = lambda row: dict((feature, row[feature]) for feature in features)
    vecData = pd.DataFrame(vec.fit_transform(data[features].apply(mkdict, axis=1)).toarray())
    vecData.columns = vec.get_feature_names()
    vecData.index = data.index
    if replace:
        data = data.drop(features, axis=1)
        data = data.join(vecData)

    return data

In [41]:
# all_data.drop(['Address','X','Y'],axis=1, inplace=True)

In [42]:
all_data = one_hot_dataframe(all_data, ['Month'], True)

In [43]:
all_data = one_hot_dataframe(all_data, ['Year'], True)

In [44]:
all_data = one_hot_dataframe(all_data, ['Hour'], True)

In [45]:
all_data = one_hot_dataframe(all_data, ['DayOfWeek'], True)

In [46]:
all_data = one_hot_dataframe(all_data, ['PdDistrict'], True)

In [47]:
all_data = one_hot_dataframe(all_data, ['Address'], True)

In [48]:
all_data = one_hot_dataframe(all_data, ['X'], True)

In [49]:
all_data = one_hot_dataframe(all_data, ['Y'], True)

In [50]:
all_data.head()

,Month=Autumn,Month=Spring,Month=Summer,Month=Winter,Year=2003,Year=2004,Year=2005,Year=2006,Year=2007,Year=2008,...,Address=POWELL ST,Address=SUTTER ST,Address=TAYLOR ST,Address=TURK ST,Address=VALENCIA ST,Address=VANNESS AV,X=0,X=9,Y=0,Y=9
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [51]:
train_data = all_data[:len(labels)]
test_data = all_data[len(labels):]

In [52]:
len(train_data) == len(labels)

True

In [53]:
from sklearn.naive_bayes import BernoulliNB

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
from sklearn.cross_validation import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(train_data, labels, test_size=0.25)

In [68]:
y_test.shape, y_train.shape

((219513,), (658536,))

In [69]:
X_test.shape

(219513, 70)

In [70]:
from sklearn import metrics

In [71]:
from sklearn.preprocessing import LabelEncoder

In [85]:
labelEncoder = LabelEncoder()
labelEncoder = labelEncoder.fit(labels)

# samples = range(35)
# for n in samples:
#     print "min_samples_split:",n
model = RandomForestClassifier(n_estimators=20,min_samples_split=450,min_samples_leaf=200,n_jobs=4)
model = model.fit(X_train,y_train)
y_train_pred = model.predict_proba(X_train)

print "Train log loss:", metrics.log_loss(y_train, y_train_pred)
y_test_pred = model.predict_proba(X_test)

print "Test log loss:", metrics.log_loss(y_test, y_test_pred)
print "="*30

Train log loss: 2.49945159299
Test log loss: 2.53548644059
==============================

In [86]:
# nbClf = BernoulliNB()
# nbClf = nbClf.fit(train_data, labels)
# y_test_pred = nbClf.predict_proba(test_data)
randomClf = RandomForestClassifier(n_estimators=20, min_samples_split=450, min_samples_leaf=200, n_jobs=4)
randomClf = randomClf.fit(train_data,labels)
y_test_pred = randomClf.predict_proba(test_data)

In [87]:
y_df = pd.DataFrame(y_test_pred, columns=labelEncoder.classes_)

In [88]:
y_df.head()

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0.003694,0.097665,0.000027,0.000725,0.038955,0.002530,0.003384,0.030361,0.003627,0.000782,...,0.000072,0.005197,0.000892,0.032116,0.000094,0.004850,0.070962,0.100868,0.041302,0.022890
1,0.003694,0.097665,0.000027,0.000725,0.038955,0.002530,0.003384,0.030361,0.003627,0.000782,...,0.000072,0.005197,0.000892,0.032116,0.000094,0.004850,0.070962,0.100868,0.041302,0.022890
2,0.002235,0.070201,0.000278,0.000050,0.050394,0.001505,0.003554,0.024184,0.003116,0.000610,...,0.000017,0.005326,0.000239,0.022998,0.000000,0.006605,0.053159,0.071583,0.034848,0.007158
3,0.001392,0.139077,0.000255,0.000495,0.035840,0.004437,0.002821,0.045600,0.007110,0.000292,...,0.000063,0.005065,0.000277,0.036163,0.000000,0.004205,0.048474,0.063319,0.047681,0.017407
4,0.001392,0.139077,0.000255,0.000495,0.035840,0.004437,0.002821,0.045600,0.007110,0.000292,...,0.000063,0.005065,0.000277,0.036163,0.000000,0.004205,0.048474,0.063319,0.047681,0.017407

In [89]:
y_df.to_csv('./result_random2.csv', index_label="Id",na_rep="0")